<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/navbar.css">

     <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css" integrity="sha384-z4tVnCr80ZcL0iufVdGQSUzNvJsKjEtqYZjiQrrYKlpGow+btDHDfQWkFjoaz/Zr" crossorigin="anonymous">

    <title>Delete User</title>
</head>
<body>



      <!--nav bar-->
      <nav class="navbar">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="home.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="addUser.html">Add User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="deleteUser.html">Delete User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="updateUser.html">Update User</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </nav>

  <!--nav bar ends-->


    <header>
        <h1>Delete User</h1>
    </header>

    <div class="full-table">
        <table>
                <div>
                    <thead>
                        <tr class="table-head" >
                            <th scope="col">#</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Email Address</th>
                            <th scope="col">Action</th>
                          </tr>

                    </thead>

                </div>

                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <th scope="col">Jarin</th>
                            <th scope="col">Tasnim</th>
                            <th scope="col">012222222</th>
                            <th scope="col">j@gmai.com</th>
                            <th scope="col">
                                <a href="deleteUser.html"><button>Delete</button></a>
                            </th>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <th scope="col">Jarin</th>
                            <th scope="col">Tasnim</th>
                            <th scope="col">012222222</th>
                            <th scope="col">j@gmai.com</th>
                            <th scope="col">
                                <a href="deleteUser.html"><button>Delete</button></a>
                            </th>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <th scope="col">Jarin</th>
                            <th scope="col">Tasnim</th>
                            <th scope="col">012222222</th>
                            <th scope="col">j@gmai.com</th>
                            <th scope="col">
                                <a href="deleteUser.html"><button>Delete</button></a>
                            </th>
                          </tr>

                    </tbody>


 
          </table>

    </div>

 

    
</body>
</html>